*{
    color:white;
    background-color:black;
}

.input{
    font-size:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:50px;
}
button{
    padding:10px 40px;
}
.red{
    background-color:red;
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
#main{
    display:flex;
    justify-content: center;
    margin-top:100px;
    border-radius: 20px;;
}

.div{
    display:flex;
    flex-direction: column;
}

.div2{
    display:flex;
    flex-direction:column;
    width:20px;
    height:20px;
    background-color:white;
    justify-content: center;

}
